apiVersion: v1
baseDomain: {{ ocp_base_domain }}
compute:
- architecture: amd64
  hyperthreading: Enabled
  name: worker
  platform: {}
  replicas: {{ worker_count }}
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  platform: {}
  replicas: {{ master_count }}
metadata:
  creationTimestamp: null
  name: {{ ocp_cluster_name }}
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineNetwork:
  - cidr: 10.0.0.0/16
  networkType: OpenShiftSDN
  serviceNetwork:
  - 172.30.0.0/16
platform:
  ovirt:
    api_vip: {{ api_vip }}
    dns_vip: {{ dns_vip }}
    ingress_vip: {{ ingress_vip }}
    ovirt_cluster_id: {{ ovirt_cluster_id }}
    ovirt_network_name: {{ ovirt_network_name }}
    ovirt_storage_domain_id: {{ ovirt_storage_domain_id }}
publish: External
pullSecret: '{{ pull_secret | to_json }}'
sshKey: |
{% for ssh_key in ssh_keys %}
  {{ ssh_key }}
{% endfor %}