ovirt_url: "{{ engine_url }}"
ovirt_username: "{{ engine_user }}"
ovirt_password: "{{ engine_password }}"
ovirt_ca_bundle: |-
{% for line in engine_ca_content.stdout_lines %}
  {{ line }}
{% endfor %}